/* Custom CSS, generated in part by SASS */
.container .jumbotron {
  border-radius: 0;
  color: white; }

.jumbotron {
  font-family: "Droid Serif", serif; }

.jumbotron input {
  color: black; }

.jumbotron input.btn {
  color: white; }

.jumbotron#original {
  background: #53B2F1; }

.jumbotron#encoded {
  background: #A30202; }

.jumbotron#error {
  background: black; }

.jumbotron#send {
  background: #66AC5C; }

.jumbotron#blank {
  background: none;
  color: black;
  font-size: 2em; }

.results-header {
  font-family: "Lobster", cursive;
  color: black;
  text-align: center; }

h3.logo {
  font-family: "Lobster", cursive;
  color: black;
  font-size: 3em; }

.btn {
  font-family: "Droid Serif", serif; }

h3 {
  font-size: 2.0em; }

ul {
  font-family: "Droid Serif", serif;
  color: black; }

a:hover {
  color: #000203; }

a {
  color: black; }

p.small {
  font-size: 0.8em;
  color: white;
  font-style: italic; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: black; }

.footer {
  font-family: "Droid Serif", serif; }
