/* Custom CSS, generated in part by SASS */

$lobster: 'Lobster', cursive;
$droid: 'Droid Serif', serif;
$wh: #FFFFFF;
$bl: #000000;

.container .jumbotron {border-radius:0; color:$wh;}
.jumbotron {font-family:$droid;}
input.jumbotron {maxwidth:90%;}
.jumbotron#original { background:#53B2F1;}
.jumbotron#encoded { background:#A30202;}
.jumbotron#error { background:$bl;}
.jumbotron#send {background:#66AC5C;}
.results-header {font-family: $lobster; color:$bl; text-align:center;}

h3.logo {font-family:$lobster; color:$bl; font-size:3em;}
.btn {font-family: $droid;}
h3 {font-size:2.0em;}
input#encoder_message {color:$bl; font-family: $droid;}
input#decoder_message {color:$bl; font-family: $droid;}

ul {font-family: $droid;; color:$bl;}

a:hover {color:#000203}
a {color:$bl;}

p.small {font-size:0.8em; color:$wh; font-style:italic;}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {background:$bl;}

.footer {font-family: $droid;}