{% extends "base.html" %}

{% block content %}

      {% if decode(decoder_form) != False %}

      <h3 class="results-header">Decoded message</h3>

      <div id="encoded" class="jumbotron">

        <h3 class="results">

        {{ decode(decoder_form) }}

        </h3>
      
      </div>


      <h3 class="results-header">Original Morse code</h3>

      <div id="original" class="jumbotron">


      <h3 class="results">

      {{ decoder_form }}

      </h3>

      </div>

    {% else %}
          <div id="error" class="jumbotron">

        <h3 class="results">

        <div id="error">Please enter a valid Morse code string.</div>

        </h3>
      
      </div>
    
    {% endif %}

    <a class="btn btn-lg btn-primary" href="{{ url_for('front_page') }}" role="button">Start over</a>
    <a class="btn btn-lg btn-success" href="//en.wikipedia.org/wiki/Morse_code#Letters.2C_numbers.2C_punctuation.2C_prosigns_and_non-English_variants" role="button" target="_blank">Morse code reference</a>
    <br /><br />

{% endblock content %}