
{% extends "base.html" %}

{% block content %}

      {% if encode(encoder_form) != False %}

      <h3 class="results-header">Morse code</h3>

      <div id="encoded" class="jumbotron">

        <h3 class="results">

        {{ encode(encoder_form) }}

        </h3>
      
      </div>


      <h3 class="results-header">Original message</h3>

      <div id="original" class="jumbotron">


      <h3 class="results">

      {{ encoder_form }}

      </h3>

      </div>

<!-- This section is under construction

<h3 class="results-header">Send code to a friend</h3>

      <div id="send" class="jumbotron">


        <form method="POST" action="{{ url_for('sent_message') }}">
        {{ send.hidden_tag() }}
        <h4>Your name</h4>
        {{ send.you(size=40) }}
        <br /><br />
        <h4>Friend's e-mail address</h4>
        {{ send.friend(size=40) }}
        <br /><br />
        <input type="submit" value="Send" a class="btn btn-lg btn-primary" role="button"></a>
        </form>

      </div> -->

    {% else %}
          <div id="error" class="jumbotron">

        <h3 class="results">

        <div id="error">Please enter a valid string.</div>

        </h3>
      
      </div>
    
    {% endif %}

        <a class="btn btn-lg btn-primary" href="{{ url_for('front_page') }}" role="button">Start over</a>
    <a class="btn btn-lg btn-success" href="//en.wikipedia.org/wiki/Morse_code#Letters.2C_numbers.2C_punctuation.2C_prosigns_and_non-English_variants" role="button" target="_blank">Morse code reference</a>
    <br /><br />
    
{% endblock content %}
