
{% extends "base.html" %}

{% block content %}

      <div class="jumbotron" id="original">
        <h3>Translate English into Morse code</h3>  
        <br />
        <div id="encoderform">
        <form method="POST" action="{{ url_for('encoded_message') }}">
        {{ encoderform.hidden_tag() }}
        {{ encoderform.encoder_message(size=40) }}
        <br /><br />
        <input type="submit" value="Encode" a class="btn btn-lg btn-primary" role="button"></a>
        </form>
        </div>
        </div>

<div class="jumbotron" id="encoded">
        <h3>Translate Morse code into English</h3> 
        <br />  
        <div id="decoderform">
        <form method="POST" action="{{ url_for('decoded_message') }}">
        {{ decoderform.hidden_tag() }}
        {{ decoderform.decoder_message(size=40) }}
        <br /><br />
         <input type="submit" value="Decode" a class="btn btn-lg btn-danger" role="button"></a>
        </form>
        </div>

      </div>

{% endblock content %}